.home {
    background-image: url('C:\Users\asus\Desktop\SmartRetail\client\public\images\image.png'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .home-content {
    background-color: rgba(255, 255, 255, 0.8); /* White with 80% transparency */
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .home h1 {
    margin-bottom: 20px;
    font-size: 2.5rem;
    color: #333;
  }
  
  .home button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .home button:hover {
    background-color: #0056b3;
  }
  
  